@import url(fonts/stylesheet.css);

* {
    scrollbar-width: thin;
    scrollbar-color: #3c4b68 rgba(0, 0, 0, .4);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection{
    background: #000000;
    color: #ffb914;
}
